ITS2_analyses/.DS_Store
ITS2_analyses/input/.DS_Store
ITS2_analyses/input/2019-06-10_07-15-02.209061_seq_abundance_stacked_bar_plot.png
ITS2_analyses/input/2019-06-10_07-15-02.209061_seq_abundance_stacked_bar_plot.svg
ITS2_analyses/input/2019-06-10_07-15-02.209061_type_abundance_stacked_bar_plot.png
ITS2_analyses/input/2019-06-10_07-15-02.209061_type_abundance_stacked_bar_plot.svg
ITS2_analyses/input/52_DBV_21022019_2019-06-10_07-15-02.209061.profiles.absolute.txt
ITS2_analyses/input/52_DBV_21022019_2019-06-10_07-15-02.209061.profiles.relative.txt
ITS2_analyses/input/52_DBV_21022019_2019-06-10_07-15-02.209061.seqs.absolute.txt
ITS2_analyses/input/52_DBV_21022019_2019-06-10_07-15-02.209061.seqs.fasta
ITS2_analyses/input/52_DBV_21022019_2019-06-10_07-15-02.209061.seqs.relative.txt
ITS2_analyses/input/between_profile_distances/
ITS2_analyses/input/between_sample_distances/
ITS2_analyses/input/meta_info.xlsx
ITS2_analyses/sample_id_list_classic
ITS2_analyses/sample_order_for_carol.txt
.idea/*
